.add-to-list-btn{
    border-radius: 12px;
    background: #272829;
    font-family: "Montserrat";
    border: none;
    color: white;
}

/* 
@media (min-width: 1200px) {
    .trailer-btn {
        font-size: rem;
    }

  
}

@media (min-width: 1400px) {
    .add-to-list-btn{
        font-size: 4rem;
    }
  
} */