.btn-form{
    background-color:#181A21 ;
    color: white;
    font-family: "Montserrat",sans-serif;
    border: none;
    border-radius: 7px ;
    width: 10rem;
    width: 100%;
    

}


.btn-secondary{
    background: none;
    border: none;
    color: white;
    margin-top: 1rem;
}

.error-msg{
    text-align: center;
    color: red;
}


.form-input{
    border-radius: 5px;
    font-family: "Montserrat",sans-serif;



}

.form-label{
    color: white;
    font-family: "Montserrat",sans-serif,
}



.form-container{

    width: 30rem;
    border-radius: 34px;
    background: var(--2nd-coloro, #272829);
    /* height: 18rem; */
}