
.btn-container{
    border: 2px solid white;
    border-radius: 10;
}


.btn-releaseDate{
    border-radius: 12px;
    background: var(--background-color, #181A21);
    color: white;
    font-family: "Montserrat";
    border: none;
    padding: 0.5rem ;
    font-size: 0.4rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;

}



.hover-container{
    pointer-events: none;
    opacity: 0;

}

.movie-card{
    width: 100%; 
    box-sizing: border-box;
    border: 2px solid #181A21;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 100%;

}

.movie-card img{
    border-radius: 10px;
    object-fit: fill;
    width: 100%;
    height: 12rem;

}
.review-container{
    color: white;
    right: 10%;
    top: 5%;

}





.title-hover{
    color: white;
    font-family: "Lalezar",sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;


}

.vote-average{
    font-size: 1.5rem;
    font-family: "Lalezar",sans-serif;
    text-overflow: clip;
}

/* Small devices (sm) - ≥576px */
@media (min-width: 576px) {
            .movie-card img{
    height: 19rem;
}

    
  
}

/* Medium devices (md) - ≥768px */
@media (min-width: 768px) {

.btn-releaseDate{
    padding: 0.7rem ;
    font-size: 0.7rem;
    margin-bottom: 0.8rem;
    margin-left: 0.2rem;

}



        .movie-card img{
    height: 16rem;
}
.title-hover{
    font-size: 1.5rem;

}
  

.vote-average{
    font-size: 2.5rem;
}
}

/* Large devices (lg) - ≥992px */
@media (min-width: 992px) {
    .movie-card img{
    height: 17.5rem;

}
  
}

/* Extra large devices (xl) - ≥1200px */
@media (min-width: 1200px) {


    .movie-card img{
        height: 21rem;
    }
  
}

/* Extra extra large devices (xxl) - ≥1400px */
@media (min-width: 1400px) {


    .movie-card img{
        height: 25rem;
    }
  
}



